/* Style the header */
.header {
    background-color: #f8f9fa; /* Use a light background color */
    padding: 10px 0; /* Add padding for spacing */
}

#LogoHead{
    width: 40vh;
    position: fixed;
    left: 30%
}

#MenueHead{
    width: 5vh;
    position: relative;
    left:
}

#AnmeldenHead{
    width: 5vh;
    position: relative;
    left: 68vh;
    top: 1.25vh;

}